app/code/local/Oro/Api/etc/wsdl.xml

<?xml version="1.0"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="salesQuoteEntity">
                <all>
                    <element name="entity_id" type="xsd:string" minOccurs="0" />
                    <element name="store_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="converted_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="is_virtual" type="xsd:string" minOccurs="0" />
                    <element name="is_multi_shipping" type="xsd:string" minOccurs="0" />
                    <element name="items_count" type="xsd:string" minOccurs="0" />
                    <element name="items_qty" type="xsd:string" minOccurs="0" />
                    <element name="orig_order_id" type="xsd:string" minOccurs="0" />
                    <element name="store_to_base_rate" type="xsd:string" minOccurs="0" />
                    <element name="store_to_quote_rate" type="xsd:string" minOccurs="0" />
                    <element name="base_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="store_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="quote_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="grand_total" type="xsd:string" minOccurs="0" />
                    <element name="base_grand_total" type="xsd:string" minOccurs="0" />
                    <element name="checkout_method" type="xsd:string" minOccurs="0" />
                    <element name="customer_id" type="xsd:string" minOccurs="0" />
                    <element name="customer_tax_class_id" type="xsd:string" minOccurs="0" />
                    <element name="customer_group_id" type="xsd:string" minOccurs="0" />
                    <element name="customer_email" type="xsd:string" minOccurs="0" />
                    <element name="customer_prefix" type="xsd:string" minOccurs="0" />
                    <element name="customer_firstname" type="xsd:string" minOccurs="0" />
                    <element name="customer_middlename" type="xsd:string" minOccurs="0" />
                    <element name="customer_lastname" type="xsd:string" minOccurs="0" />
                    <element name="customer_suffix" type="xsd:string" minOccurs="0" />
                    <element name="customer_dob" type="xsd:string" minOccurs="0" />
                    <element name="customer_note" type="xsd:string" minOccurs="0" />
                    <element name="customer_note_notify" type="xsd:string" minOccurs="0" />
                    <element name="customer_is_guest" type="xsd:string" minOccurs="0" />
                    <element name="remote_ip" type="xsd:string" minOccurs="0" />
                    <element name="applied_rule_ids" type="xsd:string" minOccurs="0" />
                    <element name="reserved_order_id" type="xsd:string" minOccurs="0" />
                    <element name="password_hash" type="xsd:string" minOccurs="0" />
                    <element name="coupon_code" type="xsd:string" minOccurs="0" />
                    <element name="global_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="base_to_global_rate" type="xsd:string" minOccurs="0" />
                    <element name="base_to_quote_rate" type="xsd:string" minOccurs="0" />
                    <element name="customer_taxvat" type="xsd:string" minOccurs="0" />
                    <element name="customer_gender" type="xsd:string" minOccurs="0" />
                    <element name="subtotal" type="xsd:string" minOccurs="0" />
                    <element name="base_subtotal" type="xsd:string" minOccurs="0" />
                    <element name="subtotal_with_discount" type="xsd:string" minOccurs="0" />
                    <element name="base_subtotal_with_discount" type="xsd:string" minOccurs="0" />
                    <element name="is_changed" type="xsd:string" minOccurs="0" />
                    <element name="trigger_recollect" type="xsd:string" minOccurs="0" />
                    <element name="ext_shipping_info" type="xsd:string" minOccurs="0" />
                    <element name="gift_message_id" type="xsd:string" minOccurs="0" />
                    <element name="is_persistent" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesQuoteEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesQuoteEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="wishlistEntity">
                <all>
                    <element name="wishlist_id" type="xsd:string" minOccurs="0" />
                    <element name="customer_id" type="xsd:string" minOccurs="0" />
                    <element name="shared" type="xsd:string" minOccurs="0" />
                    <element name="sharing_code" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="wishlistEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:wishlistEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="wishlistItemEntity">
                <all>
                    <element name="wishlist_item_id" type="xsd:string" minOccurs="0" />
                    <element name="wishlist_id" type="xsd:string" minOccurs="0" />
                    <element name="product_id" type="xsd:string" minOccurs="0" />
                    <element name="store_id" type="xsd:string" minOccurs="0" />
                    <element name="added_at" type="xsd:string" minOccurs="0" />
                    <element name="description" type="xsd:string" minOccurs="0" />
                    <element name="qty" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="wishlistItemEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:wishlistItemEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <!--  Report Product Viewed -->
            <complexType name="reportProductViewedEntity">
                <all>
                    <element name="index_id" type="xsd:string" minOccurs="0" />
                    <element name="visitor_id" type="xsd:string" minOccurs="0" />
                    <element name="product_id" type="xsd:string" minOccurs="0" />
                    <element name="sku" type="xsd:string" minOccurs="0" />
                    <element name="customer_id" type="xsd:string" minOccurs="0" />
                    <element name="added_at" type="xsd:string" minOccurs="0" />
                    <element name="store_id" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="reportProductViewedEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:reportProductViewedEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <!--  Report Product Viewed -->
            <!--  Newsletters Subscriber -->
            <complexType name="newsletterSubscriberEntity">
                <all>
                    <element name="subscriber_id" type="xsd:string" minOccurs="0" />
                    <element name="store_id" type="xsd:string" minOccurs="0" />
                    <element name="change_status_at" type="xsd:string" minOccurs="0" />
                    <element name="customer_id" type="xsd:string" minOccurs="0" />
                    <element name="subscriber_email" type="xsd:string" minOccurs="0" />
                    <element name="subscriber_status" type="xsd:string" minOccurs="0" />
                    <element name="subscriber_confirm_code" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="newsletterSubscriberEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:newsletterSubscriberEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <!--  Newsletters Subscriber -->
        </schema>
    </types>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="salesQuoteList">
            <documentation>Get quote data list</documentation>
            <input message="typens:salesQuoteListRequest"/>
            <output message="typens:salesQuoteListResponse"/>
        </operation>
        <operation name="wishlistList">
            <documentation>Get wishlist collection</documentation>
            <input message="typens:wishlistListRequest"/>
            <output message="typens:wishlistListResponse"/>
        </operation>
        <operation name="wishlistItemList">
            <documentation>Get wishlist item collection</documentation>
            <input message="typens:wishlistItemListRequest"/>
            <output message="typens:wishlistItemListResponse"/>
        </operation>
        <operation name="reportProductViewedList">
            <documentation>Get wishlist item collection</documentation>
            <input message="typens:reportProductViewedListRequest"/>
            <output message="typens:reportProductViewedListResponse"/>
        </operation>
        <operation name="newsletterSubscriberList">
            <documentation>Newsletter subscriber collection</documentation>
            <input message="typens:newsletterSubscriberListRequest"/>
            <output message="typens:newsletterSubscriberListResponse"/>
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="salesQuoteList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input><soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
            <output><soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
        </operation>
        <operation name="wishlistList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input><soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
            <output><soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
        </operation>
        <operation name="wishlistItemList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input><soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
            <output><soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
        </operation>
        <operation name="reportProductViewedList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input><soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
            <output><soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
        </operation>
        <operation name="newsletterSubscriberList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input><soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
            <output><soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
        </operation>
    </binding>
    <message name="salesQuoteListRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="filters" type="typens:filters" />
    </message>
    <message name="salesQuoteListResponse">
        <part name="result" type="typens:salesQuoteEntityArray" />
    </message>
    <message name="wishlistListRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="filters" type="typens:filters" />
    </message>
    <message name="wishlistListResponse">
        <part name="result" type="typens:wishlistEntityArray" />
    </message>
    <message name="wishlistItemListRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="filters" type="typens:filters" />
    </message>
    <message name="wishlistItemListResponse">
        <part name="result" type="typens:wishlistItemEntityArray" />
    </message>
    <!--  Report Product Viewed -->
    <message name="reportProductViewedListRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="filters" type="typens:filters" />
    </message>
    <message name="reportProductViewedListResponse">
        <part name="result" type="typens:reportProductViewedEntityArray" />
    </message>
    <!--  Report Product Viewed -->
    <!--  Newsletters Subscriber -->
    <message name="newsletterSubscriberListRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="filters" type="typens:filters" />
    </message>
    <message name="newsletterSubscriberListResponse">
        <part name="result" type="typens:newsletterSubscriberEntityArray" />
    </message>
    <!--  Newsletters Subscriber -->
</definitions>

